\:root
  --cell-size: 64px

* 
  margin: 0
  padding: 0

.app 
  background: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1614262924_74-p-chernaya-kirpichnaya-stena-fon-83.jpg') 
  background-size: cover
  width: 100vw
  height: 100vh

  // Center
  display: flex
  justify-content: center
  align-items: center

.board 
  width: calc(var(--cell-size) * 8)
  height: calc(var(--cell-size) * 8)

  // Make it rows
  display: flex
  flex-wrap: wrap
  border: 15px solid black

.cell 
  width: var(--cell-size)
  height: var(--cell-size)
  
  // Make figures stay in the center of the cell
  display: flex
  justify-content: center
  align-items: center

  outline-color: rgba(0,0,0,0)
  outline-style: solid
  outline-width: 5px
  outline-offset: -4px
  transition: 0.3s all

  img 
    width: calc(var(--cell-size) * 0.65)
    height: calc(var(--cell-size) * 0.65)
    position: relative

  &.black
    $devider-line-size: 0.125em;
    $main-line-size:    0.3125em
    background: repeating-linear-gradient(60deg, black 0px, $devider-line-size, white 0.06em, white $main-line-size)

  &.white
    background-color: #424242

  &.selected
    z-index: 100
    outline-color: green

.available
  width: 15px
  height: 15px
  border-radius: 100%
  background-color: #22c022
